<div class="card flex justify-center">
  <p-button (click)="showDialog()" label="Add Task" />
  <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Task Information</span>
    <div class="flex items-center gap-4 mb-4">
      <label for="username" class="font-semibold w-24">Task Name</label>
      <input
        pInputText
        id="username"
        class="flex-auto"
        autocomplete="off"
        [(ngModel)]="taskTitle"
        value="taskCategory"
      />
    </div>
    <div class="flex items-center gap-4 mb-4">
      <label for="username" class="font-semibold w-24">Task Date</label>
      <input pInputText id="username" class="flex-auto" autocomplete="off" [(ngModel)]="taskDate" value="taskDate" />
    </div>
    <div class="flex items-center gap-4 mb-8">
      <label for="email" class="font-semibold w-24">Category</label>
      <input
        pInputText
        id="email"
        class="flex-auto"
        autocomplete="off"
        [(ngModel)]="taskCategory"
        value="taskCategory" 
      />
    </div>
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="visible = false; " />
      <p-button label="Save" (click)="visible = false; addTask()" />
    </div>
  </p-dialog>
</div>
